<link href="~/css/figma.css" rel="stylesheet" />
<div class="responsive-layout">
  <div class="resize">
    <div class="vertical">
      <div class="horizontal">
        <div class="product-page">
          <div class="product-page2">
            <div class="page-heading">
              <div class="fresh-august-21-2023">
                <span>
                  <span class="fresh-august-21-2023-span">Fresh</span>
                  <span class="fresh-august-21-2023-span2">
                    — August 21, 2023
                  </span>
                </span>
              </div>
              <div class="divider"></div>
            </div>
            <div class="navigation">
              <div class="world-peas">World Peas</div>
              <div class="cart-button">
                <div class="basket-3">Basket (3)</div>
              </div>
            </div>
            <div class="tomato">
              <div class="heirloom-tomato">Heirloom tomato</div>
              <div class="_5-99-lb">$5.99 / lb</div>
              <div class="grown-in-san-juan-capistrano-ca">
                Grown in San Juan Capistrano, CA
              </div>
              <img
                class="ed-o-neil-avvd-zlh-dow-a-unsplash-1"
                src="ed-o-neil-avvd-zlh-dow-a-unsplash-10.png"
              />
            </div>
            <div class="ginger">
              <div class="organic-ginger">Organic ginger</div>
              <div class="_12-99-lb">$12.99 / lb</div>
              <div class="grown-in-huntington-beach-ca">
                Grown in Huntington Beach, CA
              </div>
              <img
                class="noonbrew-zi-cb-4-e-kmak-unsplash"
                src="noonbrew-zi-cb-4-e-kmak-unsplash0.png"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="horizontal2">
        <div class="product-page3">
          <div class="product-page2">
            <div class="page-heading">
              <div class="default-chip">
                <div class="default">Default</div>
              </div>
              <div class="a-z-chip">
                <div class="a-z">A-Z</div>
              </div>
              <div class="list-chip">
                <div class="list-view">List view</div>
              </div>
              <div class="fresh-august-21-20232">
                <span>
                  <span class="fresh-august-21-20232-span">Fresh</span>
                  <span class="fresh-august-21-20232-span2">
                    — August 21, 2023
                  </span>
                </span>
              </div>
              <div class="produce">Produce</div>
              <div class="divider"></div>
            </div>
            <div class="navigation">
              <div class="world-peas2">World Peas</div>
              <div class="shop">Shop</div>
              <div class="newstand">Newstand</div>
              <div class="who-we-are">Who we are</div>
              <div class="my-profile">My profile</div>
              <div class="cart-button2">
                <div class="basket-3">Basket (3)</div>
              </div>
            </div>
            <div class="tomato2">
              <div class="heirloom-tomato">Heirloom tomato</div>
              <div class="_5-99-lb">$5.99 / lb</div>
              <div class="grown-in-san-juan-capistrano-ca">
                Grown in San Juan Capistrano, CA
              </div>
              <img
                class="ed-o-neil-avvd-zlh-dow-a-unsplash-1"
                src="ed-o-neil-avvd-zlh-dow-a-unsplash-11.png"
              />
            </div>
            <div class="ginger2">
              <div class="organic-ginger">Organic ginger</div>
              <div class="_12-99-lb">$12.99 / lb</div>
              <div class="grown-in-huntington-beach-ca">
                Grown in Huntington Beach, CA
              </div>
              <img
                class="noonbrew-zi-cb-4-e-kmak-unsplash"
                src="noonbrew-zi-cb-4-e-kmak-unsplash1.png"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="horizontal3">
        <div class="product-page4">
          <div class="product-page2">
            <div class="page-heading">
              <div class="default-chip">
                <div class="default">Default</div>
              </div>
              <div class="a-z-chip">
                <div class="a-z">A-Z</div>
              </div>
              <div class="list-chip">
                <div class="list-view">List view</div>
              </div>
              <div class="fresh-august-21-20232">
                <span>
                  <span class="fresh-august-21-20232-span3">Fresh</span>
                  <span class="fresh-august-21-20232-span4">
                    — August 21, 2023
                  </span>
                </span>
              </div>
              <div class="produce">Produce</div>
              <div class="divider"></div>
            </div>
            <div class="navigation">
              <div class="world-peas2">World Peas</div>
              <div class="shop">Shop</div>
              <div class="newstand">Newstand</div>
              <div class="who-we-are">Who we are</div>
              <div class="my-profile">My profile</div>
              <div class="cart-button2">
                <div class="basket-3">Basket (3)</div>
              </div>
            </div>
            <div class="tomato3">
              <div class="heirloom-tomato">Heirloom tomato</div>
              <div class="_5-99-lb">$5.99 / lb</div>
              <div class="grown-in-san-juan-capistrano-ca">
                Grown in San Juan Capistrano, CA
              </div>
              <img
                class="ed-o-neil-avvd-zlh-dow-a-unsplash-1"
                src="ed-o-neil-avvd-zlh-dow-a-unsplash-12.png"
              />
            </div>
            <div class="ginger3">
              <div class="organic-ginger">Organic ginger</div>
              <div class="_12-99-lb">$12.99 / lb</div>
              <div class="grown-in-huntington-beach-ca">
                Grown in Huntington Beach, CA
              </div>
              <img
                class="noonbrew-zi-cb-4-e-kmak-unsplash"
                src="noonbrew-zi-cb-4-e-kmak-unsplash2.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ruler">
    <div class="rectangle"></div>
    <div class="ellipse"></div>
    <svg
      class="frame"
      width="17"
      height="17"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_607_172)">
        <path
          d="M12 2.99998C12 1.34313 10.6062 -0.0528047 9.07713 0.585169C6.10451 1.82541 4 4.90157 4 8.49998C4 12.0984 6.10451 15.1746 9.07713 16.4148C10.6062 17.0528 12 15.6569 12 14V2.99998Z"
          fill="#B9B9B9"
        />
      </g>
      <defs>
        <clipPath id="clip0_607_172">
          <rect width="17" height="17" fill="white" />
        </clipPath>
      </defs>
    </svg>
    <svg
      class="frame2"
      width="17"
      height="17"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_607_175)">
        <path
          d="M8.5 15C12.0899 15 15 12.0899 15 8.5C15 4.91015 12.0899 2 8.5 2C4.91015 2 2 4.91015 2 8.5C2 12.0899 4.91015 15 8.5 15Z"
          fill="#B9B9B9"
        />
      </g>
      <defs>
        <clipPath id="clip0_607_175">
          <rect width="17" height="17" fill="white" />
        </clipPath>
      </defs>
    </svg>
    <svg
      class="frame3"
      width="17"
      height="17"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_607_178)">
        <path
          d="M8.5 15C12.0899 15 15 12.0899 15 8.5C15 4.91015 12.0899 2 8.5 2C4.91015 2 2 4.91015 2 8.5C2 12.0899 4.91015 15 8.5 15Z"
          fill="#B9B9B9"
        />
      </g>
      <defs>
        <clipPath id="clip0_607_178">
          <rect width="17" height="17" fill="white" />
        </clipPath>
      </defs>
    </svg>
    <svg
      class="frame4"
      width="17"
      height="17"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_607_181)">
        <path
          d="M4 2.99998C4 1.34313 5.39377 -0.0528047 6.92287 0.585169C9.89549 1.82541 12 4.90157 12 8.49998C12 12.0984 9.89549 15.1746 6.92287 16.4148C5.39377 17.0528 4 15.6569 4 14V2.99998Z"
          fill="#B9B9B9"
        />
      </g>
      <defs>
        <clipPath id="clip0_607_181">
          <rect width="17" height="17" fill="white" />
        </clipPath>
      </defs>
    </svg>
    <div class="_320">320</div>
    <div class="_435">435</div>
    <div class="_966">966</div>
    <div class="_1440">1440</div>
  </div>
</div>
